In [1]:
range(0,20)

range(0, 20)

In [2]:
for temp in range(0,20):
 print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
range(10,20)
for temp in range(10,20):
 print(temp)

10
11
12
13
14
15
16
17
18
19

In [1]:
Name=input("enter the course name")

enter the course name Artificial Intelligence

In [9]:
for course in Name:
    print(course)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [18]:
D1=("-Your name-")
D2= ("-Your Age-")
D3= ("-Your Profession-")
print(D1)
print(D2)
print(D3)

-Your name-
-Your Age-
-Your Profession-

In [27]:
List2=[10,20,14,55,43,87,76]
length=len(List2)
print(List2)
print("Number of item in the List2:",length)

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [40]:
numbers=[20,10,16,19,25,1,276,188]
for num1 in numbers:
    if(num1 % 2 == 0):
        print("Even number")
else:
    print("odd number")

Even number
Even number
Even number
Even number
Even number
odd number

In [1]:
TUP=(1,'WELCOME',2,'HOPE')
print(TUP)

(1, 'WELCOME', 2, 'HOPE')

In [5]:
TUP1=(0,1,2,3)
TUP2=('Python','Hope')
TUP3=(TUP1,TUP2)
print(TUP3)

((0, 1, 2, 3), ('Python', 'Hope'))